@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --cor-primaria: #03A688;
    --cor-destaque: #0cfcd0;
    --cor-fundo: #011F26;
    --cor-hover: #2d2d2d;
    --cor-clara: #F6F6F6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-primaria);
}
.cabecalho{
    padding: 2% 0% 0% 16%;
}
.cabecalho-menu{
    display: flex;
    gap: 1.25rem;
    align-items: center;
}
.menu-link{
    font-family: 'Montserrat', sans-serif;
    padding: 1.25rem;
    font-size: 1.13rem;
    font-weight: 600;
    color: var(--cor-primaria);
    text-decoration: none;
}
.principal{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
span{
    color: var(--cor-destaque);
}
.conteudo{
    margin: 1.25rem;
    box-sizing: border-box;
    width: 50%;
}
h1{
    font-size: 2.25rem;
    font-family: "Krona One", sans-serif;
    font-style: normal;
}
.texto{
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
}
.redes-sociais{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.56rem;
}
h2{
    font-size: 1.25rem;
    font-family: "Krona One", sans-serif;
    font-style: normal;
    color: var(--cor-destaque);
    margin: 0.63rem;
    font-weight: 600;
}
.rede-social{
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: var(--cor-clara);
    border: 2px solid var(--cor-destaque);
    padding: 0.88rem;
    width: 70%;
    font-weight: 600;
    text-align: center;
    border-radius: 1rem;
    font-size: 1.13rem;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}
.rede-social:hover{
    background-color: var(--cor-hover);
    color: var(--cor-clara);
}
.logo{
    width: 1.56rem;
    height: 1.56rem;
}
.img-principal{
    width: 50%;
    height: auto;
}
.rodape{
    background-color: var(--cor-destaque);
    padding: 1.75rem;
    text-align: center;
    align-items: center;
    color: var(--cor-fundo);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    width: 100%;
    font-size: 1.13rem;
}

@media (max-width: 800px){
    .principal{
        flex-direction: column-reverse;
        gap: 1.25rem;
    }
    .conteudo{
        width: auto;
    }
    .img-principal{
        width: 100%;
    }
    .cabecalho{
        padding: 10%;
    }
    .cabecalho-menu{
        justify-content: center;
    }
    .menu-link{
        font-size: 1rem;
    }
    .texto{
        font-size: 1.25rem;
    }
    .rede-social{
        font-size: 1rem;
    }
    .logo{
        width: 1.25rem;
        height: 1.25rem;
    }
    .rodape{
        font-size: 1rem;
    }
}