@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --cor-primaria: #03A688;
    --cor-destaque: #0cfcd0;
    --cor-fundo: #011F26;
    --cor-hover: #2d2d2d;
    --cor-clara: #F6F6F6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-primaria);
}
.cabecalho{
    padding: 2% 0% 0% 16%;
}
.cabecalho-menu{
    display: flex;
    gap: 20px;
    align-items: center;
}
.menu-link{
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    color: var(--cor-primaria);
    text-decoration: none;
}
.principal{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
span{
    color: var(--cor-destaque);
}
.conteudo{
    margin: 20px;
    max-width: 450px;
}
h1{
    font-size: 36px;
    font-family: "Krona One", sans-serif;
    font-style: normal;
}
.texto{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}
.redes-sociais{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
}
h2{
    font-size: 20px;
    font-family: "Krona One", sans-serif;
    font-style: normal;
    color: var(--cor-destaque);
    margin: 10px;
    font-weight: 600;
}
.rede-social{
    display: flex;
    justify-content: center;
    gap: 16px;
    color: var(--cor-clara);
    border: 2px solid var(--cor-destaque);
    padding: 14px;
    width: 40%;
    font-weight: 600;
    text-align: center;
    border-radius: 16px;
    font-size: 18px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}
.rede-social:hover{
    background-color: var(--cor-hover);
    color: var(--cor-clara);
}
.logo{
    width: 25px;
    height: 25px;
}
.rodape{
    background-color: var(--cor-destaque);
    padding: 28px;
    text-align: center;
    align-items: center;
    color: var(--cor-fundo);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
}